@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
$primary-color-700: #157A6E;
$primary-color-400: #DDF2EB;
$primary-color-300: #EEF0F2;
$font-main: 'Fredoka One',
cursive;