.play {
    flex: 1;
    width: 90%;
    margin-bottom: .5em;
    @include flexColumn;
    justify-content: space-evenly;
    background-color: $primary-color-400;
    @include border;
    @media screen and (min-width: 475px) {
        height: 65%;
        margin: 0;
    }
}