@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Colors */

$primary-color-700: #FCE694;
$primary-color-400: #F6FEAA;
$primary-color-300: #FFFCF9;
$color-ylw: #8ED081;
$color-blck: #0B3954;

/* Fonts */

$font-main: 'Fredoka One',
cursive;